[2016-03-20 01:04] leonardoanalista opened #1 "add allowed branch name option"
add cli option to take a branch name to allow release to go ahead.

If not specified, default to master.

This option will abort if branch is not master. If you really want to release from another branch, you'll need to specify

[2016-03-23 21:52] leonardoanalista opened #2 "update changelog version to 1.x"
Those warnings should be gone:

npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm
npm WARN deprecated conventional-changelog@0.0.17: Please update conventional-changelog to >1.0.0. If you are running the cli, use conventional-changelog-cli
npm WARN prefer global coffee-script@1.10.0 should be installed with -g
corp-semantic-re

[2016-03-23 21:53] leonardoanalista opened #3 "display better message when there is no semantic tag"
When you run corp-semantic-release the first time in drymode, message is not very clear about what is going on.

Message should say it is the first time and a new tag will be created with version v1.0.0.

This aligns with our father semantic-release as the initial release should be always v1.0.0

@uglow thanks for the feedback

[2016-03-30 00:45] uglow opened #5 "Version is bumped even when there are no changes"
New repo **without a remote**.

Initial output:
[code]

Subsequent output:
[code]

Git Log:
[code]

CHANGELOG.md:
<a name="0.4.0"></a>
# [0.4.0](/https://example.com/entity/repo/compare/v0.3.0...v0.4.0) (2016-03-30)

<a name="0.3.0"></a>
# [0.3.0](/https://example.com/entity/repo/compare/v0.2.0...v0.3.0) (2016-03-30)

<a name="0.2.0"></a>
# [0.2.0](/https://example.com/entity/repo/compare/v0.1.0..

[2016-03-30 11:36] leonardoanalista commented on #5
please have a look at the added tests: https://github.com/leonardoanalista/corp-semantic-release/pull/6/files#diff-1098cf96025316f5f8ec5e4b373d016fR123

There has been no meaningful source code changes on `index.js`. Tests perform the same manual steps you did. I am not sure why you had the changelog and package.json modified. Is there any additional steps you did after the first version `0.1.0`?

[2016-03-30 11:39] leonardoanalista commented on #5
there is actually something wrong. Tests pass in my machine but fail in Travis. I'll have a look now

[2016-03-30 12:08] leonardoanalista commented on #5
I figured out. I cleaned up some dependencies and one of them was `git-latest-semver-tag`. It was pruned from my local node_modules but it was found in my global npm path. Now I included as a dependency. It should be fixed in a few minutes.

[2016-03-30 12:15] leonardoanalista commented on #5
At least now we have tests to detect situations where we run multiple times and no changes are expected. I still need to now how to avoid npm o look at the global so this won't happen again.

[2016-03-30 12:16] #5 closed

[2016-03-30 12:18] leonardoanalista commented on #3
It now display a message to let user know this is the first release.

[2016-03-30 12:18] #3 closed

[2016-03-30 12:22] leonardoanalista opened #7 "first release ever should be v1.0.0"
At the moment, if it is the first release, version is bumped as detected.

The appropriated behaviour is bump t0 v.0.0.1 as per npm specification. This will also align with semantic-release.

[2016-03-30 19:35] uglow commented on #5
I'll try it in a few hours. Thanks Leo

Sent from my iPhone

[2016-03-30 22:04] uglow opened #8 "Bug: If package.json does not contain a version, tool does not work"
In testing, for some reason I ended up with a `package.json` file that did not have any name, version or description in it. Before I noticed that, I ran `corp-semantic-release` which produced this output:

[code]

Using a `package.json` with a version, name and description fixed this.

Perhaps the tool can identify it's mandatory fields in the package.json and either warn/error/fix the problem?

[2016-03-30 23:05] leonardoanalista commented on #8
As fas as I remember, version and name are required. The rest are optional. I assume npm users know that. Despite of that, I am going to add this validation in order to avoid unpredictable results.

[2016-04-06 03:10] uglow opened #9 "Should the tag be on the release-commit?"
Hi @leonardoanalista,

Just wondering whether the tag should be on the release commit, rather than on the previous commit.
<img width="323" alt="screen shot 2016-04-06 at 1 08 58 pm" src="https://cloud.githubusercontent.com/assets/3990189/14304720/c672f086-fbf8-11e5-8364-3c378046bbfc.png">

Thoughts?

[2016-04-10 12:11] leonardoanalista commented on #9
Brett

Semantic-release uses Github API v3 to create a release. In this case there is no file changes, therefore nothing to commit. Just a git tag to push to remote.

This module creates/appends to a CHANGELOG.md. This file is updated on every release and needs to be committed.

There will be support to Github API v3 down on the road.

thanks for the issue anyway.

Leo

[2016-04-10 13:16] #1 closed

[2016-04-10 13:16] #7 closed

[2016-04-10 22:28] uglow commented on #9
In the attached picture, the commit with the message "chore(release) v0.3.0" is NOT the commit with the tag "v0.3.0".

I'm not suggesting that the solution is to use the Github API, only that the tag-step occur AFTER the commit-step. That way, the "chore(release) v0.3.0" commit would also have the "v0.3.0" tag.

[2016-04-10 22:53] leonardoanalista commented on #9
ok it makes sense. Reopening this issue.
Just to clarify: If /when we use Github Api v3 to create a `release`, there will be no need for this extra commit "chore(release) vxzy".
Plan is to support both ways for a period of time.

[2016-04-13 12:53] uglow commented on #9
I'll try and look at this now...

[2016-04-14 01:46] #9 closed

[2016-04-14 01:49] leonardoanalista commented on #8
Validation for fields version and name in the package.json ad been added on version 1.2.0 as per commit https://github.com/leonardoanalista/corp-semantic-release/commit/ca104bea.
I forgot to link this issue at that stage.

[2016-04-14 01:49] #8 closed

[2016-04-28 02:08] leonardoanalista opened #12 "detect npm v3 and handle flat dependencies"
At the moment, code relies on npm 2.x behaviour.

We need to add a verification to check detect the version and build commands based on flat dependency or not.

Code inside `fromNodeModule` function will look like this:
[code]

[2016-05-19 11:09] leonardoanalista commented on #12
invalid as it works with npm 2 and 3. Upgrade to changelog v1.3.0 is in progress.

[2016-05-19 11:09] #12 closed

[2016-05-19 11:19] #2 closed

[2016-05-19 11:22] leonardoanalista commented on #2
@uglow finally made the updates. As it updates major underlying library, just to be in the safe side, I made a major version. Unit tests were unchanged. So behaviour changes have been detected in the unit tests.

[2016-06-29 00:47] rpocklin opened #13 "Optionally push a tag for `v1.0.x` so you can leverage ^ behaviour on internal repos"
Will add more detail..

[2016-06-29 01:18] rpocklin commented on #13
This is not a high priority but may be useful to people who don't use internal NPM repos.

The idea being that you always update the correct 'x' tag for the release so that it always has the latest for `v1.0.x` which can change regularly.  This way you avoid too many updates to your `package.json` for patch releases.

[2016-07-19 01:22] leonardoanalista commented on #13
I am not sure if I understand your point.

Semantic-release is designed to run on every commit to master in a full automated workflow. Usually there is not problem about many path releases. With semantic-release, release a library is a trivial and fearless task.

[2016-09-26 23:59] uglow commented on #2
@leonardoanalista Just saw this. Will update Confit to use this version. Thanks Leo

[2016-09-27 01:02] leonardoanalista commented on #2
No worries, I mean "**NO** behaviour changes have been detected in the unit tests." rather than "**So** behaviour....

[2016-10-17 02:49] uglow opened #17 "Minor: Error message when running from non-release branch is not correct"
When you run corp-semantic-release with the `-b {branchName}` option, but on a non-releasable branch (e.g. `feature/abc`), the error message says `You can not release from branch other than master. Use option --branch to specify branch name`.

See https://github.com/leonardoanalista/corp-semantic-release/blob/master/index.js#L312

This line should say: `You can not release from branch other than $

[2016-10-17 18:31] leonardoanalista commented on #17
Thank you. I ll fix this when I return.

[2016-11-02 10:50] leonardoanalista opened #18 "install and configure cz-customizable-ghooks in this repo"
instructions in the `cz-customizable` and `cz-customizable-ghooks` repos

[2016-11-23 09:08] #13 closed

[2016-11-23 09:18] leonardoanalista opened #19 "Add success verification step after last step"
Currently, the last step is git add `CHANGELOG.md` and `package.json`, then push them with the new created semantic tag: `git push && git push --tags`.

**A few possible scenarios:**
* Somehow connectivity has been lost and git can't run last push from CI or local machine. Consequence: you have to work out the problem and manually git push and push the tags: `git push && git push --tags`

* one pr

[2017-01-13 05:02] uglow opened #21 "The `undefined` appears at the end of each log statement"
[code]

[2017-01-18 20:00] #18 closed

[2017-01-18 20:00] #17 closed

[2017-01-18 20:00] #21 closed

[2017-01-31 21:25] nick-woodward opened #23 "Specify the Release Count"
### Problem

I'm storing my `CHANGELOG.md` on a `latest` branch to
keep my built code separate from my source code.

At the same time I have a `CHANGELOG.md` in my `master` branch
that points to the `CHANGELOG.md` on the `latest` branch.

This means that the `CHANGELOG.md` file on the latest branch gets
overriden with the `master` version.

So when `corp-semantic-release` runs it ends up appending

[2017-01-31 23:31] uglow commented on #23
Are you able to provide more information about this requirement? Eg:
Problem:
Proposed solution:
Workarounds?

[2017-02-01 04:08] nick-woodward commented on #23
Sorry about that, I was in a bit of a rush when I opened the issue.

Updated with a bit more information as well as a solution.

Also included a link to how `conventional-changelog-cli` solves this.

[2017-02-05 22:57] uglow commented on #23
@nick-woodward - please review https://github.com/leonardoanalista/corp-semantic-release/pull/24

[2017-02-07 22:26] #23 closed

[2017-02-14 01:36] uglow opened #25 "Changelog changes are not displayed in dry-run mode"

[2017-02-14 01:56] leonardoanalista commented on #25
It is a known limitation. One dilution would be a in-memory bump before display on console

[2017-02-23 00:41] uglow opened #26 "Make it easy for corp-semantic-release to update other source files with the new version number"
Currently the `--pre-commit <script>` flag supports calling an NPM script before commiting changes back to git. But as a user, I don't know what the new version number is or whether `package.json` has been updated with the new version already.

I see two main use-cases for the existing option:
1. Run an NPM script which is unrelated to the new version number
2. Run an NPM script which requires the

[2017-02-24 02:34] uglow opened #27 "Update unit tests to support latest git status output"
See https://github.com/mnagel/clustergit/issues/18

[2017-02-24 21:09] #25 closed

[2017-02-24 21:09] #26 closed

[2017-02-24 21:09] #27 closed

[2017-04-03 21:20] nick-woodward opened #29 "Don't append to the changelog if release count is 0"
### Description

If the release count is zero then the changelog should be overwritten or deleted.

### Expected Result

[code]

### Actual Result

[code]

[2017-04-07 06:32] rpocklin opened #30 "Permit refactor/docs to be versionable"
Currently, adding a refactor commit will not allow for a release. I don't like this behaviour, as it makes the assumption there are no bugs or other benefits in the refactor, which may be true, but you may need or want to bump the version.

This should be customisable so that the user can release a version even though it only has a 'refactor' commit in it.

I don't think these commits should make

[2017-04-07 07:20] uglow commented on #30
Hi @rpocklin , the use of fix|feat to trigger builds is a pretty core concept to the "conventional commits" convention. It's baked into most of the semantic-release tooling that I've come across. If this is a problem for you, there may be another convention which suits your workflow better?

[2017-04-07 08:02] rpocklin commented on #30
If you look through the issues others have raised in `semver` and `semantic-release` repos this has been raised quite a few times in agreement with my P.O.V.  Unfortunately the official comment is to customise `semantic-release`:

https://github.com/mojombo/semver/issues/146
https://github.com/jonathanong/ferver/issues/3
https://github.com/mojombo/semver/issues/215
https://github.com/semantic-rele

[2017-04-07 22:23] uglow commented on #30
Thanks for sending through supporting doc. I'm not against allowing people to use their own configuration, but I do think the current defaults should remain the current defaults. In https://github.com/BublTechnology/customizable-commit-analyzer, the defaults have been changed. This would be a breaking change for this module if we adopted it.

I happen to like the fact that I can change documentati

[2017-04-08 03:14] rpocklin commented on #30
Yep i'd be happy with that - it should be easy to push out to a config file.  You could even define if it is doc-worthy or not at the same time ie.

[code]

[2017-04-08 13:11] leonardoanalista commented on #30
We need to separate two aspects and consequences of a code modification.

1. Software release
A refactoring which doesn't add any value can be fully tested but may not be released. Reason: hard to explain to business a code change that does not add any value, does not improve performance.
Refactoring they had a breaking change or possible braking change defies the purpose of semver and uses the me

[2017-04-08 21:50] #29 closed

[2017-04-09 09:00] uglow opened #32 "Q. Add onRelease and onNoRelease hooks?"
My understanding of `corp-semantic-release` is that is designed to run inside companies that may be using older CI infrastructure. For that reason, it currently differs from `semantic-release` in that it always exits with 0 whether a release was necessary or not. If some CI systems don't have an "after_success" step (which can fail without the entire build being deemed as a failure), the existing

[2017-04-12 03:42] #32 closed

[2017-04-13 04:13] uglow opened #35 "Change post-success so that it does not pass the version as an arg, and makes no assumptions about the command argument"
In the latest version of this module, the `--post-success [script]` flag assumes that `script` is an NPM script, and it also passes the version to this script.

The main use-case for this flag is to allow a publish step to occur only when the release-step was successful. Currently, if you try to write this: `--post-success publish`, it won't work unless you have a script called "publish" defined (

[2017-04-13 21:21] nick-woodward opened #37 "Pull latest git tag before assuming that the package.json is correctl"
### Description

`semantic-release` pulls the latest npm version before assuming there isn't a published version.

Meanwhile, `corp-semantic-release` takes the version in the package.json at face-value.

### Workaround

**package.json**
[code]

**scripts/semantic-release-pre.js**
[code]

[2017-04-14 22:59] #35 closed

[2017-04-17 22:47] uglow opened #38 "Exit 0 when branch is not master branch"
`corp-semantic-release` exits with 1 when the current branch is not the master branch.

https://github.com/leonardoanalista/corp-semantic-release/blob/master/src/lib/validateBranch.js#L12

To support git-flow style workflow, feature branches should be able to pass all tests and have a successful build before code can be merged onto the master branch. Ideally, there should be no difference between

[2017-04-17 22:48] uglow commented on #38
@leonardoanalista thoughts?

[2017-04-17 23:57] leonardoanalista commented on #38
It sounds good. Keep in mind some places may release from `develop` branch. Semantic-release implies less master and feature branches and I think less branches is less to think about it.

[2017-04-18 02:24] leonardoanalista commented on #37
Hi Nick,

Do you set the version to empty when `getLatestVersion` recognises is the first time?

I just wonder what happens when corp-sem-release tries to bump the version and value in package.json is empty.

Could you explain the consequences if you don't run your `semantic-release-pre.js`?

By the way the `de facto` version value is retrieved from the local Git repo tags. However, I remember now

[2017-04-18 02:48] nick-woodward commented on #37
So I actually have it so that the built code is deployed to NPM and the Latest branch (instead of master).

This means that the version isn't located on the master branch.

Instead the version on the master branch is **0.0.0-semantically-released.0**.

When `corp-semantic-release` is run it bumps the version located in the master branches **package.json**. To prevent the version from being complet

[2017-04-18 05:43] leonardoanalista commented on #37
Ok just for clarity, if I run `npm version --no-git-tag-version major` this is what happens depending on the contents of the version field:

- "version": "1.0.0", ==> result is ==> "2.0.0" as expected
- "version": "0.0.0-semantically-released.0.", ==> result is ==> Error
- "version": "0.0.0-semantically-released.0", ==> result is ==> "0.0.0" on file package.json (without the trailing dot!)
- "vers

[2017-04-18 07:24] #38 closed

[2017-04-18 14:09] nick-woodward commented on #37
Our source code is located in master, we end up releasing from a latest branch though that way we don't pollute master with build artifacts.

[2017-06-03 13:49] mlazowik opened #40 "The command should fail if post-success fails"
To reproduce try running with `--post-success "gibberish"`.

This is important, because otherwise your ci builds will succeed even if, for example, `npm publish` fails.

[2017-06-03 14:51] mlazowik opened #41 "Make the code testable"
Most of the existing tests are integration tests, not unit tests, they are slow and rely heavily on running shell processes. Source itself also relies on shell, for example for git. This makes testing hard, especially when you'd want to mock something like `git push`.

In current tests `git push` always fails and it's ignored. There is no positive test for `--post-success`. I need to add a regress

[2017-06-05 05:16] leonardoanalista commented on #41
Hi Michal, thanks for your input. You are right. All unit tests are actually integration. They test against a real git repo. It is very hard (impossible) to test and mock post success as it will never succeed. Our friend Brett U added post success flag not too long ago. It was in the latest release.
I had a quick look at `nodegit`. It looks good. As far as I remember, semantic-release use to use i

[2017-06-05 05:25] leonardoanalista commented on #40
Hi Michal, Fyi this is the PR which introduced the `post-success` as normal script, not necessarily npm script.
https://github.com/leonardoanalista/corp-semantic-release/pull/36/files

[2017-06-07 05:16] #40 closed

[2017-06-09 21:01] enriquecaballero opened #43 "Allow publishing from any branch via the use of --any-branch"
Setting a branch name via `--branch` is a bit difficult with Jenkins, since Jenkins doesn't really checkout a specific branch, but checks out a revision. We currently use `standard-version` for our builds, and it works great. However, we would like to switch over to `corp-semantic-release` because of the sweet verification step as to whether or not it should actually make release. Thoughts?

[2017-06-10 05:01] leonardoanalista commented on #43
Corp-sem-release and semantic-release work well when you always release from master. The option --branch was created for some places where they release from "developer" branch or equivalent.
We can easily create a new option --any-branch for those cases like yours.
This could be a couple of lines PR.
I might be able to add it tonight or tomorrow if I have time. If you would like to do, just let me

[2017-06-10 11:01] leonardoanalista commented on #43
Hi @enriquecaballero review this PR. It will allow you to release from any branch if you specify option `--any-branch`. Be aware `--any-branch` takes precedence over `--branch`.
There is no breaking change, just a new feature. Thanks for the suggestion!
Leonardo

[2017-06-10 12:38] enriquecaballero commented on #43
Looks good to me, man. That was quick!

[2017-06-11 05:17] leonardoanalista commented on #43
No problems, I'll merge as soon as Brett (repo maintainer) has a chance to look at this too. Otherwise I merge early Tuesday. Monday is a public holiday in Australia.

[2017-06-25 10:23] #43 closed

[2017-06-27 01:37] uglow opened #45 "Add [ci skip] to release message for CI servers"
Some CI servers (e.g. [Travis](https://docs.travis-ci.com/user/customizing-the-build#Skipping-a-build), [CircleCI](https://circleci.com/docs/1.0/skip-a-build/), [Concourse](https://github.com/concourse/git-resource#behavior)) support a scheme whereby if a commit message contains the string `[ci skip]`, the commit does not trigger another build. This would be useful to add to the release commit mes

[2017-06-27 01:45] leonardoanalista commented on #45
It sounds good to me. I wonder if all CI's would use the same `[ci skip]` text.

If not, we could have a mapping of
[code]

[2017-06-27 01:46] leonardoanalista commented on #45
It seems like `[ci skip]` is unanimous: https://github.com/banyan/jenkins-ci-skip-plugin

[2017-07-18 23:26] azz commented on #45
TeamCity supports configuring commit message filters, so `[ci skip]` should be workable there, too.

VCS trigger rule:

[code]

[2017-07-19 01:01] #45 closed

[2017-08-24 05:30] svuppala opened #47 "Doesnot update package-lock.json"
I am not sure if this is the right channel to raise this issue.We are using this module with npm@5 and noticed this module doesn't bump up version in package-lock.json.

Does npm-version supports package-lock.json?

[2017-08-24 06:02] leonardoanalista commented on #47
That's fine here. I haven't tested on npm5.

Did you notice if you see console messages `>>> update version on package.json...` from [line](https://github.com/leonardoanalista/corp-semantic-release/blob/master/src/lib/bumpUpVersion.js#L8)?

Maybe run with option `--verbose` and `-d` for a dry run.

[2017-08-24 06:21] svuppala commented on #47
It is updating package.json but not package-lock.json

Log:--------

build	24-Aug-2017 10:24:29	>>> Bump type is patch
**build	24-Aug-2017 10:24:29	>>> update version on package.json...**
build	24-Aug-2017 10:24:30	v1.2.1
build	24-Aug-2017 10:24:30	>>> About to add and commit package.json and CHANGELOG...

[2017-08-24 06:31] leonardoanalista commented on #47
it should happen automatically here is the according to official docs: https://docs.npmjs.com/files/package-lock.json

Please try to run manually `npm version v9.9.9`, then second test case `npm version --no-git-tag-version v9.9.9`. That's what this module does under the cover.

[2017-08-24 07:08] svuppala commented on #47
npm version --no-git-tag-version v9.9.9 worked fine.Can you test with npm 5?

I have also tried pre-commit options and didnot work.

    "corp-release": "corp-semantic-release --pre-commit updateFiles --changelogpreset angular-bitbucket --branch integration",
    "updateFiles": "node package-lock.json && git add package-lock.json",

[2017-08-24 10:45] leonardoanalista commented on #47
With the last command you ran, did that update package-lock.json too?
If not, this might be the default behavior of npm5.
Can you explain why package-lock.json must be updated? This file is to lock dependency, not your own package version as far as I understand.

[2017-08-25 04:13] svuppala commented on #47
Yes the last command updated the package-lock.json.

[2017-08-25 04:40] leonardoanalista commented on #47
Sorry this line https://github.com/leonardoanalista/corp-semantic-release/blob/master/src/lib/bumpUpVersion.js#L14
actually does something like this:
`npm version --no-git-tag-version patch`. Can you test this?

[2017-08-25 04:49] svuppala commented on #47
Yes ...tested it and it updated both package.json and package-lock.json.

[2017-08-29 11:03] svuppala commented on #47
We have fixed this issue with --pre-commit [npm-script]

"corp-release": "corp-semantic-release --pre-commit update-version --changelogpreset angular-bitbucket --branch integration",
    "update-version": "node update-version.js",

[2017-09-07 07:06] leonardoanalista commented on #47
cool!

[2017-09-07 07:06] #47 closed

[2017-09-22 14:27] armand1m opened #50 "Fix (Feat?): Bump is not made depending on scope convention"
Hi. First of all, let me thank you for creating this module. It fits my needs in private repositories really well.
However, I use to write my commit messages like this:

`fix(component/sidebar): Fixes onChange event`
`feat(component/header): Adds <HeaderComponent>`

When using this kind of convention in the scope, the module just ignores it and doesn't bump a new release. When not using `/`, it wo

[2017-09-22 22:35] leonardoanalista commented on #50
Hi Armando, this sounds like a bug. It should work if your scopes contain slashes.
We'll have to look at this. Feel free to send a PR if you like. Otherwise I (or anyone else) will get on this when possible.

[2017-09-25 09:35] uglow commented on #50
@armand1m Looking at a few other libraries that parse commits (such as https://github.com/conventional-changelog/conventional-changelog/blob/master/packages/conventional-commits-parser/index.js#L9), you can see that the commit message RegEx for the scope `[\w\$\.\-\* ]` only allow ASCII letters & numbers & underscore (`[A-Za-z0-9_]`), `$`, `.`, `-`, `*`, and ` ` (space) characters. `/` is not allo

[2017-09-25 09:35] #50 closed

[2017-10-10 20:07] gund opened #53 "Problems while using in Bitbucket"
Hi!
First of all - thanks a lot for creating this awesome alternative of semantic-release.

Recently I've came to the need to integrate a tool same as `semantic-release` but in private Bitbucket repo and so I ended up here =)

I tried to use it but stuck with this error:
[code]
But my CI pipeline actually runs on master branch, this is the command from logs used to clone repo: `git clone --branch=

[2017-10-10 21:19] gund commented on #53
Okay so the problem was basically because I was running on the node-alpine image which does not have git installed so I simply switched to full node image and it fixed the issue.

Thanks for easy to use library!

[2017-10-10 21:19] #53 closed

[2017-10-11 00:03] leonardoanalista commented on #53
Hi Alex, I am glad you solved the problem before I even had a chance to read the issue. Cheers 👍

[2017-10-26 13:22] marceloavf opened #54 "Add ***NO_CI*** to release message for VSTS skip build"
VSTS triggers work different from others scheme like Travis, CircleCI, etc. It requires the `***NO_CI***` in the end of the message to skip the build, so `[ci skip]` doesn't seems to work

**How do I avoid triggering a CI build when the script pushes?**
[code]
[Documentation ](https://docs.microsoft.com/en-us/vsts/build-release/actions/scripts/git-commands)

[2017-10-30 09:13] marceloavf commented on #54
This will not stop **Travis** and others CI since this allow it to be anywhere in the commit messages, will only add support for VSTS (Visual Studio Team Services) from Microsoft

[2017-10-30 10:14] leonardoanalista commented on #54
No worries, I’ll review this pr tomorrow for sure

[2017-10-30 20:42] #54 closed

[2017-11-21 16:30] humatios opened #57 "after_success with Travis CI don't run."
I want that after the successful completion of the **Travis CI** build (_after_success_), in the _Master branch_ run "npm run corp-release", but the following message appears:
[code]

So, i don't know if that is a good way to do my _Release_. But, is not working for me from **Travis CI**.

[2017-11-21 20:41] leonardoanalista commented on #57
Ideally you should release from master but If you really don’t want to do that,
Use —branch [branch name] or option —any to release from any branch.

There are lots of benefits when you use master as release branch but is is up to you.

[2017-11-21 21:53] humatios commented on #57
I release from Master, but from Travis CI.
But when Travis executes the command _corp-release_ it does not detect that Travis is in the Master branch. (Travis is configured to run only with the changes in Master branch)

[2017-11-21 22:00] leonardoanalista commented on #57
I can see `HEAD detached`. Maybe Travis is in a middle of conflict. I usually get this situation in the middle of a rebase. I am not quite sure how to address this issue.

[2017-11-21 22:01] #57 closed

[2017-12-12 12:23] marceloavf opened #58 "Release a pre-release version with tag .beta in package.json"
Is there a way to make a release come with some `1.0.0-beta` ?

[2018-03-05 19:19] StephanGerbeth commented on #57
Sorry, that i must reopen this ticket, but i have the same problem. Locally it is working, but when i try to run it at travis, i get the same error:

`You can only release from the master branch. Use option --branch to specify branch name.`

i tried the following commands:
[code]
with the same result. Please help!

[2018-03-05 19:24] StephanGerbeth opened #59 "after_success with Travis CI don't run."
Sorry, i must reopen an old ticket [Issue 57](https://github.com/leonardoanalista/corp-semantic-release/issues/57), because i didn't found a solution. Locally it is working, but when i try to run it at travis, i get the this error:

[code]

i tried the following commands:
[code]
with the same result. Please help!

[2018-05-22 00:13] tmosest commented on #58
or could we add the tag template from semantic-release?

tagFormat
Type: String

Default: v${version}

CLI arguments: -t, --tag-format

The Git tag format used by semantic-release to identify releases. The tag name is generated with Lodash template and will be compiled with the version variable.

Note: The tagFormat must contain the version variable exactly once and compile to a valid Git referenc

[2018-05-22 22:01] tmosest commented on #58
Here is the little bit of code it took me to add a prefix, you can use this to add your suffix or just use a prefix instead.

https://github.com/tmosest/corp-semantic-release/commit/ef5d8961046a25148eb1e1d03140ffa248195801

[2018-05-23 11:52] leonardoanalista commented on #58
it looks good to me. I would merge if it was in a PR.

[2018-05-23 14:05] tmosest commented on #58
@leonardoanalista if you give me access to push up to feature branches, I'll fix it up to use templates instead of just prefixs and put in a PR for it. I'd rather upgrade your repo than keep my own fork of it.

[2018-05-24 06:18] jdanil opened #60 "Customise repository url"
Currently, the `conventional-changelog` dependency uses `repository.url` in `package.json` by default to generate the links in the changelog.
According to the [npm documentation](https://docs.npmjs.com/files/package.json#repository) this url should be able to be used by a VCS program, and should not be a url to a html project page.

We have the need to have different vcs and html urls.
`semantic-r

[2018-05-30 05:33] MkMan opened #61 "First release version"
When running corp-semantic-release for the first time, it doesn't increment the version based on what's in package,json, instead it resets it to version 1.0.0.

[2018-05-30 06:59] leonardoanalista commented on #61
That’s the intended behavior. This aligns with semantic-release as far as I remember.

[2018-05-30 07:01] leonardoanalista commented on #58
You should be able to push now. Let me know if you still have issues

[2018-05-30 11:58] MkMan commented on #61
Thanks for getting back to me quickly.

Fair enough. So we've been working on an npm module and have been manually incrementing its version. We'd like to start using corp-semantic-release but because of this behaviour it will reset us back to v1.0.0 which will cause us problems. What's the best approach in this situation ?

[2018-05-30 12:15] leonardoanalista commented on #61
The idea behind semantic-release and Corp-semantic-release is to automate the version number so you never set the version manually. This number allocation is based on your strstured commit messages since the last semver tag. Then the tool decides if bump is a patch, minor or major, again it s all based on commit messages.
If you really want to set the version manually, sorry tools mentioned here a

[2018-05-30 12:28] MkMan commented on #61
I think I explained the situation poorly.

We started a project **without** using semantic release and had been incrementing the version manually.
We are now up to v1.5.0
We would like to start using semantic release to automate the versioning. We **don't** want to increment the version manually any more.

The concern we have is upon using it for the first time it will set us back to v1.0.0 which

[2018-05-30 22:55] leonardoanalista commented on #61
You probably incrementes version by changing in the package.json only and never created a tag to match the version. If that’s what you did, all you need to to is create a semver tag to match what you have now, then corp-semantic-release will know how to increment.

[2018-05-30 23:01] leonardoanalista commented on #61
I m on mobile now. In one hour, I’ll look at the code to tell you the npm command to run. It may be just “giy tag v1.5.0” with the “v” or not, I don’t remember now

[2018-05-31 00:03] MkMan commented on #61
Awesome! Thanks for your help. I've been looking into this and the tags have a "v" at the start. Thanks again

[2018-05-31 00:03] #61 closed

[2018-05-31 00:12] veroca commented on #61
ahhh now I get what was happening to me as well. Thank you both for the clarification. Perhaps a comment about this in the README would be very useful :)
Great tool Leo.

[2018-07-12 17:16] rodoabad opened #62 "Option to not push to Git automatically"
I'd like to have an option to not push to Git automatically. This is specially useful in CI when you need to do pushes a different way.

`sh('git push https://${GIT_USERNAME}:${GIT_PASSWORD}@<REPO> --tags')`

is an example we have on Jenkins if we want to push to a Git repository.

[2018-07-12 18:02] rodoabad opened #63 "No SemVer tag found"
[code]

I keep getting this when it's running on CI. Is there a reason why it can't see the tags?

[2018-07-12 18:50] #63 closed

[2018-07-12 20:01] rodoabad opened #64 "`corp-semantic-release` is forgetting to commit lock files"
I have noticed that `corp-semantic-release` is not committing and pushing lock files. Is anyone else having this problem?

[2018-07-12 23:29] leonardoanalista commented on #63
Hi Rodo, What happened and how did you solve it? just curious.

[2018-07-12 23:34] leonardoanalista commented on #64
yes, you are right. This is the line which adds the files: https://github.com/leonardoanalista/corp-semantic-release/blob/master/src/lib/addFilesAndCreateTag.js#L10

If you have a chance to right a PR let me know. Otherwise give me a few hours to be able to write a PR.

[2018-07-12 23:41] leonardoanalista commented on #64
That line could potentially be `code = shell.exec('git add package.json package-lock.json CHANGELOG.md').code;`

Code should add and commit `package-lock.json` as part of the changes. This is a possible breaking changes as some could be using `yarn.lock` instead.

Alternatively, a preferred solution would be identify if the project uses `npm` or `yarn.lock` and add/commit the appropriated file.

[2018-07-13 00:06] rodoabad commented on #62
Does `--post-success` run before pushing to Git?

[2018-07-13 00:09] rodoabad commented on #63
@leonardoanalista one thing to note is I am using Jenkins for my CI.

Jenkins normally checkouts a specific hash.

[code]

The only problem here is that `npm publish` will run even if there's no new version to publish. I'm still working on that solution.

[2018-07-13 00:09] rodoabad commented on #63
@leonardoanalista if you notice I'm also setting the remote URL with the credentials which solve the problem I was having in https://github.com/leonardoanalista/corp-semantic-release/issues/62#issuecomment-404681323.

[2018-07-13 00:10] #62 closed

[2018-07-13 00:13] rodoabad commented on #64
@leonardoanalista let's do a little bit of hashing out the details. You've identified one challenge and that is to try and identify if the consumer is using either `npm` or `yarn` or it could even be both (they update both lock files).

I think one more challenge is to identify if they have set `npm` and `yarn` to not generate lock files which is what I did for the mean time in order to not trigge

[2018-07-13 00:19] rodoabad commented on #63
@leonardoanalista it's also a little weird that my commit messages are `chore(release): v1.0.6 [ci skip] ***NO_CI***` even though I'm doing it in a CI environment.

[2018-07-13 00:24] rodoabad commented on #63
I just realized you can do `--post-success "npm publish`

[2018-07-13 11:40] rodoabad commented on #64
@leonardoanalista here's a rough snippet. I can submit a PR if you want too. Is this what you had in mind?

[code]

[2018-07-13 11:49] leonardoanalista commented on #64
Maybe the first line can do what it was doing before:

`code = shell.exec('git add package.json CHANGELOG.md').code;`

Then have the 2 `if` conditions to add package or yarn lock files if they exist.

[2018-07-13 11:50] rodoabad commented on #64
LOL. Good catch.

[2018-07-26 09:48] BBlackwo commented on #64
`yarn.lock` doesn't contain the package version so it shouldn't need to be committed, right? Or am I missing something?

[2018-08-16 18:54] rodoabad commented on #64
@leonardoanalista do you have time to do this? I am getting pulled away from things right now. I"m sorry!

[2018-08-17 06:32] leonardoanalista commented on #64
Bblackwo made a good point. I m on holidays now and can’t look into details but I agree with him.
We need to see how we use this package on the apps. When we run a release, this package modified package.json, add and commit. I ll need to look at this when I return

[2018-08-30 16:40] rodoabad commented on #64
NP. Thanks, @BBlackwo!

[2018-09-14 02:44] tmosest commented on #58
Hey @leonardoanalista tried to push up a feature branch and got permission denied.

[2018-09-14 06:48] leonardoanalista commented on #58
I canceled and re-sent the invitation. I added you as collaborator 👍

[2018-09-14 15:47] rodoabad commented on #64
@leonardoanalista any update on this?

[2018-09-25 02:09] #58 closed

[2019-02-25 05:52] Biboba opened #66 "CI option"
Hello,

I would like the release to trigger CI as in my worklow, the CI is actually generating the artifacts of the release.
It would be nice to have a CI option in order to trigger CI or not just like semantic-release offer:
https://github.com/semantic-release/semantic-release/blob/caribou/docs/usage/configuration.md#ci
It would then either add "[ci skip] ***NO_CI***" or not.

I believe so far it

[2019-02-25 09:49] leonardoanalista commented on #66
Yes, this is possible. We could follow the same API. It would be great to know what they do under the cover, if they add a text `[ci skip]` to the commit message. I guess so but it is good to confirm. Btw feel free to send a PR if you have a chance.

[2019-02-25 09:56] Biboba commented on #66
Hello,

Thanks for the reply. I will have a look then and send PR.

[2019-03-12 03:30] leonardoanalista commented on #58
:tada: This issue has been resolved in version 6.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/corp-semantic-release)
- [GitHub release](https://github.com/leonardoanalista/corp-semantic-release/releases/tag/v6.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-19 22:17] #66 closed

[2019-05-16 00:50] leonardoanalista commented on #66
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/corp-semantic-release)
- [GitHub release](https://github.com/leonardoanalista/corp-semantic-release/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-16 00:50] leonardoanalista commented on #58
:tada: This issue has been resolved in version 7.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/corp-semantic-release)
- [GitHub release](https://github.com/leonardoanalista/corp-semantic-release/releases/tag/v7.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: